<div class='example1'>

    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <strong>My Shopify Store</strong>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
  <div class="search-div">
    <h2>Order List</h2>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" >

      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="listData"  matSort>
        <ng-container matColumnDef="order_number">
            <mat-header-cell *matHeaderCellDef  mat-sort-header >Order No.</mat-header-cell>
            <mat-cell *matCellDef="let element; let row" [ngClass]="{'highlight': selectedRowIndex == row.id}">{{element.order_number }}</mat-cell>
          </ng-container>
      <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef  mat-sort-header >Customer Name</mat-header-cell>
        <mat-cell *matCellDef="let element; let row" [ngClass]="{'highlight': selectedRowIndex == row.id}">{{element.customer.default_address.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef  mat-sort-header >Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.customer.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone No.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.customer.default_address.phone}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.customer.default_address.city}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="onMoreDetails(element)"><span>More Details</span></button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="accent" (click)="onEdit(element)"><mat-icon>launch</mat-icon><span>Edit</span></button>
          <button mat-icon-button color="warn" (click)="onDelete(element.id)"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>




      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
  </div>

